:root {
  --selected-font-color: var(--product-font-color);
  --product-font-color: #555a8f;
  --product-background: #fff;
  --primary-color-button-links: #4b0dba;
  --primary-text-icons: #262631;
  --clicked-state: #33028a;
  --body-text: #7a7a7a;
  --secondary-text: #93a4b7;
  --borders-inactive-buttons: #dedede;
  --header-background: #ede6f8;
  --borders-inactive-text: #cdced7;
  --title-background: #f7f5fc;
  --success-color: #04a65b;
  --hovers-clicked-state: #f8f9ff;
  --error-color: #b60229;
  --delete-color: #ff6565;
}
*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #f7f5fc;
  color: var(--product-font-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ant-input {
  width: 300px;
}

.session-paragraph {
  color: var(--body-text);
}
.session-heading__primary {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.session-heading__secondary {
  font-size: 16px;
  color: #262631;
  font-weight: 500;
}
.product-font-color {
  color: var(--product-font-color);
}
.primary-background-color {
  color: #fff;
  background-color: var(--primary-color-button-links);
}
